#trafficTop{
    background-color: black;
    width: 10px;
    height: 70px;
    margin-left: 85px;
}

#container {
    background-color: black;
    width: 56px;
    height: 180px;
    margin-left: 60px;
    padding: 8px;
    border-radius: 10px;
}

.light {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;

    &.red { background-color: red;}
    &.red {background-color: red;}
    &.yellow {background-color: yellow;}
    &.green {background-color: green;}
    &.red {background-color: red;}
    &.selected {box-shadow: orange 0px 0px 50px 20px;}
}